<section id="main-dashboard" class="flex flex-col items-center justify-between bg-black text-white">

    <!-- THE HEADER PART WHICH CONTAINS (HALL OF FAME) AND (TEAM PORTFOLIO BUTTON) -->
    <div class="flex justify-between w-full font-bold text-4xl pb-[20px]">
        <!-- HALL OF FAME -->
        <div class="flex flex-col bg-[#2C3333] py-2 px-4 shadow shadow-gray-500">
            <p class="underline mb-4 text-[#0E8388]">Wall of Fame</p>
            <div class="flex gap-1">
                <div class="flex flex-col items-center">
                    <img *ngIf="wall_of_fame[0] else first" class="inline-block object-cover w-20 h-20 rounded-full border-[#ffd700] border-[5px]" [src]="wall_of_fame[0]" />
                    <ng-template #first>
                        <img class="inline-block object-cover w-20 h-20 rounded-full border-[#ffd700] border-[5px]" src="/assets/none.png">
                    </ng-template>
                    <span class="text-lg mt-1 text-[#ffd700]">#1</span>
                </div>
                <div class="flex flex-col items-center">
                    <img *ngIf="wall_of_fame[1] else first" class="inline-block object-cover w-20 h-20 border-[#C0C0C0] border-[5px] rounded-full" [src]="wall_of_fame[1]"/>
                    <span class="text-lg mt-1 text-[#C0C0C0]">#2</span>
                </div>
                <div class="flex flex-col items-center">
                    <img *ngIf="wall_of_fame[2] else first" class="inline-block object-cover w-20 h-20 border-[#CD7F32] border-[5px] rounded-full" [src]="wall_of_fame[2]"/>
                    <span class="text-lg mt-1 text-[#CD7F32]">#3</span>
                </div>
                <!-- <img class="inline-block object-cover w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Profile image"/>
                <img class="inline-block object-cover w-12 h-12 rounded-full" src="https://images.pexels.com/photos/2955305/pexels-photo-2955305.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Profile image"/> -->
                <div class="flex -space-x-4 items-center">
                    <img *ngIf="wall_of_fame[3] else second" class="inline-block object-cover w-16 h-16 rounded-full border-2 border-white" [src]="wall_of_fame[3]"/>
                    <ng-template #second>
                        <img class="inline-block object-cover w-16 h-16 rounded-full border-[#ffd700] border-[5px]" src="/assets/none.png">
                    </ng-template>
                    <img *ngIf="wall_of_fame[4] else second" class="inline-block object-cover w-16 h-16 rounded-full border-2 border-white" [src]="wall_of_fame[4]"/>
                    <img *ngIf="wall_of_fame[5] else second" class="inline-block object-cover w-16 h-16 rounded-full border-2 border-white" [src]="wall_of_fame[5]"/>
                    <img *ngIf="wall_of_fame[6] else second" class="inline-block object-cover w-16 h-16 rounded-full border-2 border-white" [src]="wall_of_fame[6]"/>
                    <img *ngIf="wall_of_fame[7] else second" class="inline-block object-cover w-16 h-16 rounded-full border-2 border-white" [src]="wall_of_fame[7]"/>
                    <img *ngIf="wall_of_fame[8] else second" class="inline-block object-cover w-16 h-16 rounded-full border-2 border-white" [src]="wall_of_fame[8]"/>
                    <img *ngIf="wall_of_fame[9] else second" class="inline-block object-cover w-16 h-16 rounded-full border-2 border-white" [src]="wall_of_fame[9]"/>
                    <span class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full" href="#">+{{total_team - 11}}</span>
                </div>
            </div>
        </div>

        <!-- TEAM PORTFOLIO BUTTON -->
        <div class="flex items-center">
            <div class="flex justify-between items-center cursor-pointer font-bold text-4xl rounded bg-yellow-300 px-4 py-2 leading-normal text-neutral-800 shadow-[0_4px_9px_-4px_#cbcbcb] transition duration-150 ease-in-out hover:bg-yellow-400  focus:bg-yellow-400" (click)="toggle_portfolio()">
                <div class="relative inline-block mb-2">
                    <img class="inline-block object-cover w-12 h-12 rounded-full" [src]="my_details.profile_pic"/>
                    <span class="absolute bottom-0 right-0 inline-block w-3 h-3 bg-green-600 border-2 border-white rounded-full"></span>
                </div>
                <span class="ml-1">{{team_id?.toUpperCase()}}</span>
            </div>
        </div>
    </div>

    <!-- THE TECHOPOLY BOARD GAME TABLE -->
    <div class="flex flex-col border-black border-2">
        <!-- ROW 1 -->
        <div id="1" class="flex">
            <div id="10000" class="cell bg-yellow-400">
                <div [innerHTML]="list[10]"></div>
                <img class="w-full h-full" src="/assets/box_img/10.png" alt="">
            </div>
            <div id="11000" class="cell bg-yellow-400">
                <div [innerHTML]="list[11]"></div>
                <img class="w-full h-full" src="/assets/box_img/11.png" alt="">
            </div>
            <div id="12000" class="cell bg-yellow-400">
                <div [innerHTML]="list[12]"></div>
                <img class="w-full h-full" src="/assets/box_img/12.png" alt="">
            </div>
            <div id="13000" class="cell bg-yellow-400">
                <div [innerHTML]="list[13]"></div>
                <img class="w-full h-full" src="/assets/box_img/13.png" alt="">
            </div>
            <div id="14000" class="cell bg-white">
                <div [innerHTML]="list[14]"></div>
                <img class="w-full h-full" src="/assets/box_img/14.png" alt="">
            </div>
            <div id="15000" class="cell bg-yellow-400">
                <div [innerHTML]="list[15]"></div>
                <img class="w-full h-full" src="/assets/box_img/15.png" alt="">
            </div>
            <div id="16000" class="cell bg-yellow-400">
                <div [innerHTML]="list[16]"></div>
                <img class="w-full h-full" src="/assets/box_img/16.png" alt="">
            </div>
            <div id="17000" class="cell bg-yellow-400">
                <div [innerHTML]="list[17]"></div>
                <img class="w-full h-full" src="/assets/box_img/treasure.png" alt="">
            </div>
            <div id="18000" class="cell bg-yellow-400">
                <div [innerHTML]="list[18]"></div>
                <img class="w-full h-full" src="/assets/box_img/18.png" alt="">
            </div>
            <div id="19000" class="cell bg-yellow-400">
                <div [innerHTML]="list[19]"></div>
                <img class="w-full h-full" src="/assets/box_img/19.png" alt="">
            </div>
            <div id="20000" class="cell bg-yellow-400">
                <div [innerHTML]="list[20]"></div>
                <img class="w-full h-full" src="/assets/box_img/20.png" alt="">
            </div>
            <div id="21000" class="cell bg-yellow-400">
                <div [innerHTML]="list[21]"></div>
                <img class="w-full h-full" src="/assets/box_img/21.png" alt="">
            </div>
            <div id="22000" class="cell bg-yellow-400">
                <div [innerHTML]="list[22]"></div>
                <img class="w-full h-full" src="/assets/box_img/4_Blackhole.png" alt="">
            </div>
            <div id="23000" class="cell bg-yellow-400">
                <div [innerHTML]="list[23]"></div>
                <img class="w-full h-full" src="/assets/box_img/23.png" alt="">
            </div>
            <div id="24000" class="cell bg-yellow-400">
                <div [innerHTML]="list[24]"></div>
                <img class="w-full h-full" src="/assets/box_img/24.png" alt="">
            </div>
            <div id="25000" class="cell bg-yellow-400">
                <div [innerHTML]="list[25]"></div>
                <img class="w-full h-full" src="/assets/box_img/25.png" alt="">
            </div>
            <div id="26000" class="cell bg-yellow-400">
                <div [innerHTML]="list[26]"></div>
                <img class="w-full h-full" src="/assets/box_img/26.png" alt="">
            </div>
        </div>

        <!-- ROW 2 -->
        <div id="2" class="flex">
            <div id="9000" class="cell bg-white">
                <div [innerHTML]="list[9]"></div>
                <img class="w-full h-full" src="/assets/box_img/9.png" alt="">
            </div>
            <div class="middle-empty-cell border-t-2"></div>
            <div id="27000" class="cell bg-lime-400">
                <div [innerHTML]="list[27]"></div>
                <img class="w-full h-full" src="/assets/box_img/27.png" alt="">
            </div>
        </div>

        <!-- ROW 3 -->
        <div id="3" class="flex">
            <div id="8000" class="cell bg-slate-400">
                <div [innerHTML]="list[8]"></div>
                <img class="w-full h-full" src="/assets/box_img/8.png" alt="">
            </div>
            <div class="middle-empty-cell"></div>
            <div id="28000" class="cell bg-lime-400">
                <div [innerHTML]="list[28]"></div>
                <img class="w-full h-full" src="/assets/box_img/4_Blackhole.png" alt="">
            </div>
        </div>

        <!-- ROW 4 -->
        <div id="4" class="flex justify-between">
            <div id="7000" class="cell bg-slate-400">
                <div [innerHTML]="list[7]"></div>
                <img class="w-full h-full" src="/assets/box_img/7.png" alt="">
            </div>
            <div class="middle-empty-cell"></div>
            <div id="29000" class="cell bg-lime-400">
                <div [innerHTML]="list[29]"></div>
                <img class="w-full h-full" src="/assets/box_img/treasure.png" alt="">
            </div>
        </div>

        <!-- ROW 5 -->
        <div id="5" class="flex">
            <div id="6000" class="cell bg-white">
                <div [innerHTML]="list[6]"></div>
                <img class="w-full h-full" src="/assets/box_img/6.png" alt="">
            </div>
            <div class="middle-empty-cell"></div>
            <div id="30000" class="cell bg-lime-400">
                <div [innerHTML]="list[30]"></div>
                <img class="w-full h-full" src="/assets/box_img/30.png" alt="">
            </div>
        </div>

        <!-- ROW 6 -->
        <div id="6" class="flex">
            <div id="5000" class="cell bg-white">
                <div [innerHTML]="list[5]"></div>
                <img class="w-full h-full" src="/assets/box_img/5.png" alt="">
            </div>
            <div class="grow border-black border-x-2">
                <!-- <a class="flex items-center justify-center h-full text-4xl font-semibold text-gray-900">
                    <img class="w-8 h-8 mr-2" src="/assets/dice.png" alt="logo">
                    Techopoly    
                </a> -->
            </div>
            <div id="31000" class="cell bg-lime-400">
                <div [innerHTML]="list[31]"></div>
                <img class="w-full h-full" src="/assets/box_img/31.png" alt="">
            </div>
        </div>

        <!-- ROW 7 -->
        <div id="7" class="flex">
            <div id="4000" class="cell bg-white">
                <div [innerHTML]="list[4]"></div>
                <img class="w-full h-full" src="/assets/box_img/4_Blackhole.png" alt="">
            </div>
            <div class="middle-empty-cell"></div>
            <div id="32000" class="cell bg-lime-400">
                <div [innerHTML]="list[32]"></div>
                <img class="w-full h-full" src="/assets/box_img/32.png" alt="">
            </div>
        </div>

        <!-- ROW 8 -->
        <div id="8" class="flex">
            <div id="3000" class="cell bg-white">
                <div [innerHTML]="list[3]"></div>
                <img class="w-full h-full" src="/assets/box_img/3.png" alt="">
            </div>
            <div class="middle-empty-cell"></div>
            <div id="33000" class="cell bg-lime-400">
                <div [innerHTML]="list[33]"></div>
                <img class="w-full h-full" src="/assets/box_img/4_Blackhole.png" alt="">
            </div>
        </div>

        <!-- ROW 9 -->
        <div id="9" class="flex">
            <div id="2000" class="cell bg-white">
                <div [innerHTML]="list[2]"></div>
                <img class="w-full h-full" src="/assets/box_img/2.png" alt="">
            </div>
            <div class="middle-empty-cell"></div>
            <div id="34000" class="cell bg-lime-400">
                <div [innerHTML]="list[34]"></div>
                <img class="w-full h-full" src="/assets/box_img/34.png" alt="">
            </div>
        </div>

        <!-- ROW 10 -->
        <div id="10" class="flex">
            <div id="10000" class="cell bg-white">
                <div [innerHTML]="list[1]"></div>
                <img class="w-full h-full" src="/assets/box_img/1.png" alt="">
            </div>
            <div class="middle-empty-cell"></div>
            <div id="35000" class="cell bg-lime-400">
                <div [innerHTML]="list[35]"></div>
                <img class="w-full h-full" src="/assets/box_img/35.png" alt="">
            </div>
        </div>
        
        <!-- ROW 11 -->
        <div id="11" class="flex">
            <div id="0" class="cell bg-yellow-400">
                <div [innerHTML]="list[0]"></div>
                <!-- <app-team-dp></app-team-dp> -->
                <img src="/assets/start.png" alt="">
            </div>
            <div id="51000" class="cell bg-yellow-400">
                <div [innerHTML]="list[51]"></div>
                <img class="w-full h-full" src="/assets/box_img/51.png" alt="">
            </div>
            <div id="50000" class="cell bg-yellow-400">
                <div [innerHTML]="list[50]"></div>
                <img class="w-full h-full" src="/assets/box_img/50.png" alt="">
            </div>
            <div id="49000" class="cell bg-white">
                <div [innerHTML]="list[49]"></div>
                <img class="w-full h-full" src="/assets/box_img/49.png" alt="">
            </div>
            <div id="48000" class="cell bg-yellow-400">
                <div [innerHTML]="list[48]"></div>
                <img class="w-full h-full" src="/assets/box_img/48.png" alt="">
            </div>
            <div id="47000" class="cell bg-yellow-400">
                <div [innerHTML]="list[47]"></div>
                <img class="w-full h-full" src="/assets/box_img/4_Blackhole.png" alt="">
            </div>
            <div id="46000" class="cell bg-yellow-400">
                <div [innerHTML]="list[46]"></div>
                <img class="w-full h-full" src="/assets/box_img/46.png" alt="">
            </div>
            <div id="45000" class="cell bg-yellow-400">
                <div [innerHTML]="list[45]"></div>
                <img class="w-full h-full" src="/assets/box_img/45.png" alt="">
            </div>
            <div id="44000" class="cell bg-yellow-400">
                <div [innerHTML]="list[44]"></div>
                <img class="w-full h-full" src="/assets/box_img/44.png" alt="">
            </div>
            <div id="43000" class="cell bg-yellow-400">
                <div [innerHTML]="list[43]"></div>
                <img class="w-full h-full" src="/assets/box_img/treasure.png" alt="">
            </div>
            <div id="42000" class="cell bg-yellow-400">
                <div [innerHTML]="list[42]"></div>
                <img class="w-full h-full" src="/assets/box_img/42.png" alt="">
            </div>
            <div id="41000" class="cell bg-yellow-400">
                <div [innerHTML]="list[41]"></div>
                <img class="w-full h-full" src="/assets/box_img/41.png" alt="">
            </div>
            <div id="40000" class="cell bg-yellow-400">
                <div [innerHTML]="list[40]"></div>
                <img class="w-full h-full" src="/assets/box_img/4_Blackhole.png" alt="">
            </div>
            <div id="39000" class="cell bg-yellow-400">
                <div [innerHTML]="list[39]"></div>
                <img class="w-full h-full" src="/assets/box_img/39.png" alt="">
            </div>
            <div id="38000" class="cell bg-yellow-400">
                <div [innerHTML]="list[38]"></div>
                <img class="w-full h-full" src="/assets/box_img/38.png" alt="">
            </div>
            <div id="37000" class="cell bg-yellow-400">
                <div [innerHTML]="list[37]"></div>
                <img class="w-full h-full" src="/assets/box_img/37.png" alt="">
            </div>
            <div id="36000" class="cell bg-yellow-400">
                <div [innerHTML]="list[36]"></div>
                <img class="w-full h-full" src="/assets/box_img/36.png" alt="">
            </div>
        </div>
    </div>

    <!-- THE FOOTER WHICH CONTAINS LIVE TRANSACTION AND ROLL DICE BUTTON -->
    <div class="flex justify-around w-full font-bold pt-[20px] pb-2">

        <!-- LIVE TRANSACTION -->
        <div class="w-[400px]">
            <span class="underline text-4xl">Live Transaction</span> <br>
            <!-- RECENT TRANSACTION UPON GAIN -->
            <div *ngIf="live_transaction.gain === 'true'">
                <div *ngIf="live_transaction.amount === 'NONE'">
                    <div  class="flex">
                        <span>Team</span> &nbsp;
                        <span class="uppercase text-blue-600">{{ live_transaction.team_id }}</span>: &nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
                        </svg>
                        <span class="capitalize">
                            {{live_transaction_asset_name}} ({{live_transaction.message}})
                        </span>
                    </div>
                </div>
                <div *ngIf="live_transaction.amount != 'NONE'">
                    <div  class="flex">
                        <span>Team</span> &nbsp;
                        <span class="uppercase text-blue-600">{{ live_transaction.team_id }}</span>: &nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
                        </svg>
                        <span>
                            &nbsp; ${{live_transaction.amount}} ({{live_transaction.message}})
                        </span>
                    </div>
                </div>
            </div>

            <!-- RECENT TRANSACTION UPON LOSS -->
            <div *ngIf="live_transaction.gain === 'false'">
                <div *ngIf="live_transaction.amount === 'NONE'">
                    <div  class="flex">
                        <span>Team</span> &nbsp;
                        <span class="uppercase text-blue-600">{{ live_transaction.team_id }}</span>: &nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
                        </svg>
                        <span class="capitalize">
                            {{live_transaction_asset_name}} ({{live_transaction.message}})
                        </span>
                    </div>
                </div>
                <div *ngIf="live_transaction.amount != 'NONE'">
                    <div  class="flex">
                        <span>Team</span> &nbsp;
                        <span class="uppercase text-blue-600">{{ live_transaction.team_id }}</span>: &nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
                        </svg>
                        <span>
                            &nbsp; ${{live_transaction.amount}} ({{live_transaction.message}})
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- TWO DICES -->
        <div class="flex space-x-4">
            <!-- DICE -->
            <div class="flex justify-center">
                <div class="dice" [ngStyle]="style">
                    <div class="face front"></div>
                    <div class="face back"></div>
                    <div class="face top"></div>
                    <div class="face bottom"></div>
                    <div class="face right"></div>
                    <div class="face left"></div>
                </div>
            </div>
            <!-- DICE -->
            <div class="flex justify-center">
                <div class="dice" [ngStyle]="style2">
                    <div class="face front"></div>
                    <div class="face back"></div>
                    <div class="face top"></div>
                    <div class="face bottom"></div>
                    <div class="face right"></div>
                    <div class="face left"></div>
                </div>
            </div>
        </div>

        <!-- ROLL DICE BUTTON -->
        <div>
            <div class="text-lg font-normal">Waiting Time: <span class="font-bold">{{waitCount}}</span></div>
            <button id="btnDice" class="roll text-4xl" (click)="randomDice()" [disabled]="isDisabled">
                Roll Dice: <span>{{outcome?outcome:0}}</span>
            </button>
        </div>
    </div>
</section>


<!-- TEAM PORTFOLIO SECTION (MODAL) -->
<div id="portfolio" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <!--
      Background backdrop, show/hide based on modal state.
  
      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.
  
          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">

          <!-- CHECKING WHETHER THE TEAM IS ABLE TO PURCHASE THE PROPERTY OR NOT -->
          <div *ngIf="my_details.active === 'false' && my_details.net_worth > 0" class="text-red-700 p-5 text-center">
            <span>You need to sell your property to continue in the game as you don't have the sufficient cash.</span>
          </div>
          <div *ngIf="my_details.active === 'false' && my_details.net_worth < 0" class="text-red-700 p-5 text-center">
            <span>You can't continue in the game as you don't have any cash left and you have no property to sell.</span>
          </div>
          
          <!-- HEADER SECTION WHICH CONTAINS TEAM ID AND DISPLAY PICTURE -->
          <div class="flex justify-between bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="flex w-[80%] justify-around">
                <div class="relative inline-block mb-2">
                    <img class="inline-block object-cover w-16 h-16 rounded-full" [src]="my_details.profile_pic"/>
                    <span class="absolute bottom-0 right-0 inline-block w-4 h-4 bg-green-600 border-2 border-white rounded-full"></span>
                </div>
                <div class="w-[80%] mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                    <h3 class="text-base font-semibold leading-6 text-gray-900 capitalize" id="modal-title">Hi, {{ my_details.name }}.</h3>
                    <div class="mt-2">
                        <p class="text-sm text-gray-500">Following are the details about your assets, cash and net worth.</p>
                    </div>
                </div>
            </div>
            <div class="flex items-center w-[20%]">
                <button type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" (click)="sign_out()">Sign Out</button>
            </div>
          </div>

          <!-- MIDDLE PART i.e. DESCRIPTION ABOUT THE TEAM -->
          <div class="flex flex-col px-4 py-3">
            <div class="flex justify-around w-full">
                <ul *ngIf="my_details.assets.length > 0 else msg">
                    <span class="underline font-bold">Assets</span>
                    <li *ngFor="let asset of my_details.assets" class="capitalize mb-2">
                        {{asset.name}} - ${{asset.value}}
                        <button type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" (click)="sell_property(asset.box_index)" >Sell</button>
                    </li>
                    <!-- <li>{{my_details.assets}}</li> -->
                    <!-- <li>Casino</li>
                    <li>Fashion Retail</li> -->
                </ul>
                <ng-template #msg>
                    <ul>
                        <span class="underline font-bold">Assets</span>
                        <li>NONE</li>
                    </ul>
                </ng-template>
                <p><span class="underline font-bold">Cash:</span> <br> ${{ my_details.cash }}</p>
                <p><span class="underline font-bold">Net Worth:</span> <br> ${{ my_details.net_worth }}</p>
            </div>
            <div class="mt-5 ml-5">
                <span class="underline font-bold">Recent Transaction:</span><br>

                <!-- RECENT TRANSACTION UPON GAIN -->
                <div *ngIf="my_details.recent_transaction.gain === 'true'">
                    <div *ngIf="my_details.recent_transaction.amount === 'NONE'">
                        <div  class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
                            </svg>
                            <span class="capitalize">
                                {{my_details.recent_asset}} ({{my_details.recent_transaction.message}})
                            </span>
                        </div>
                    </div>
                    <div *ngIf="my_details.recent_transaction.amount != 'NONE'">
                        <div  class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
                            </svg>
                            <span>
                                &nbsp; ${{my_details.recent_transaction.amount}} ({{my_details.recent_transaction.message}})
                            </span>
                        </div>
                    </div>
                </div>

                <!-- RECENT TRANSACTION UPON LOSS -->
                <div *ngIf="my_details.recent_transaction.gain === 'false'">
                    <div *ngIf="my_details.recent_transaction.amount === 'NONE'">
                        <div  class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
                            </svg>
                            <span class="capitalize">
                                {{my_details.recent_asset}} ({{my_details.recent_transaction.message}})
                            </span>
                        </div>
                    </div>
                    <div *ngIf="my_details.recent_transaction.amount != 'NONE'">
                        <div  class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
                            </svg>
                            <span>
                                &nbsp; ${{my_details.recent_transaction.amount}} ({{my_details.recent_transaction.message}})
                            </span>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <!-- CLOSE AND SIGN OUT BUTTON -->
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 justify-between">
            <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" (click)="toggle_portfolio()">Close</button>
            <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-500 sm:mt-0 sm:w-auto" (click)="ngOnInit()">Refresh</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- MODAL FOR BOX RELATED DETAILS UPON REACHING THEM (ASSETS) -->
<div id="box_modal" class="relative z-20 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">

                <!-- HEADER SECTION WHICH CONTAINS TEAM ID AND DISPLAY PICTURE -->
                <div class="flex items-center justify-center bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <img class="w-full h-full" src="/assets/box_img/{{current_box.box_index}}.png">
                    
                </div>

                <!-- MIDDLE PART i.e. DESCRIPTION ABOUT THE TEAM -->
                <div *ngIf="'rent_amount' in current_box" class="flex flex-col px-4 py-3">
                    <h2 class="font-semibold text-center mb-2 underline uppercase">Property Details</h2>
                    <div class="flex justify-around w-full">
                        <div class="w-[30%] pr-2 text-center"><span class="underline font-bold">Name:</span> <br> <span class="capitalize">{{ current_box.name }}</span></div>
                        <div class="w-[20%]"><span class="underline font-bold">Value:</span> <br> ${{ current_box.value }}</div>
                        <div class="w-[15%]"><span class="underline font-bold">Rent:</span> <br> ${{ current_box.rent_amount }}</div>
                        <div *ngIf="current_box.current_owner === 'admin' else owner" class="w-[35%]"><span class="underline font-bold">Current Owner:</span> <br> <span class="capitalize">Available to Purchase</span></div>
                        <ng-template #owner>
                            <div class="w-[35%]"><span class="underline font-bold">Current Owner:</span> <br> <span class="font-semibold uppercase">{{ current_box.current_owner }}</span></div>
                        </ng-template>
                    </div>
                    <div *ngIf="current_box.current_owner === 'admin' && !correct_answer" class="w-full text-center mt-2"><span class="capitalize font-semibold">You need to solve the question to Purchase this property.</span></div>
                </div>

                <!-- CLOSE AND PURCHASE BUTTON -->
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" (click)="toggle_box_modal()" (click)="ngOnInit()">Close</button>
                    <button *ngIf="current_box.current_owner === 'admin' && correct_answer else rent_msg" type="button" class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto" (click)="purchase_property()" (click)="toggle_box_modal()">Purchase</button>
                    <div *ngIf="current_box.current_owner === 'admin' && !correct_answer" class="flex flex-row-reverse justify-between w-full">
                        <button type="button" class="inline-flex w-full justify-center rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 sm:ml-3 sm:w-auto" (click)="toggle_code_quest()">View Question</button>
                        <p>Level: <span class="uppercase font-semibold">{{current_box.ques_level}}</span></p>
                    </div>
                    <ng-template #rent_msg>
                        <div *ngIf="this.current_box.current_owner != this.my_details.team_id && this.current_box.current_owner != 'admin' else no_rent">   
                            <div  class="flex justify-between text-red-900">
                                <span>Property occupied.</span>&nbsp;
                                <div class="flex">
                                    <span class="capitalize">
                                        ${{current_box.rent_amount}}
                                    </span>&nbsp;
                                    <span>has been deducted as rent.</span>
                                </div>
                            </div>
                        </div>
                        <ng-template #no_rent>
                            <span *ngIf="this.current_box.current_owner === this.my_details.team_id">This property is owned by you.</span>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FOR NON-ASSET -->
<div id="non_asset_modal" class="relative z-30 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">

                <!-- HEADER SECTION WHICH CONTAINS TEAM ID AND DISPLAY PICTURE -->
                <div class="flex items-center justify-center bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <img class="w-full h-full" src="/assets/box_img/{{current_box.box_index}}.png">
                    
                </div>

                <!-- MIDDLE PART i.e. DESCRIPTION ABOUT THE TEAM -->
                <div *ngIf="'timeout' in current_box" class="flex flex-col px-4 py-3">
                    <h2 class="font-semibold text-center mb-2 underline uppercase">{{current_box.name}}</h2>
                    <div class="flex justify-around w-full">
                        {{all_assets[current_box.box_index].desc}}
                    </div>
                </div>
                <p *ngIf="current_box.name === 'Jail'" class="mt-4 capitalize font-semibold text-red-700 px-4 py-3">You need to wait 300 seconds before you can roll the dice. <br> If you wish to skip the wait time, click on 'Skip Jail Timer' button to continue in the game. But then you have to pay <strong>$1500</strong> Jail Charges.</p>
                <p *ngIf="t_box_msg" class="mt-4 capitalize font-semibold text-blue-700 px-4 py-3">{{t_box_msg}}</p>
                <div *ngIf="random_penalty">
                    <p class="mt-4 capitalize font-semibold text-red-700 px-4 py-3"> {{random_penalty.statement}}</p>
                </div>
                <div *ngIf="current_box.name === 'Black Hole'">
                    <div *ngIf="random_reward.options === 'NONE'">
                        <p class="mt-4 capitalize font-semibold text-red-700 px-4 py-3"> ${{random_reward.value}} will be awarded to you as {{random_reward.question}}</p>
                    </div>
                    <div *ngIf="random_reward.options === 'reward_question'" class="flex flex-col">
                        <p class="text-center font-semibold">You need to solve this question to get the reward.</p>
                        <form class="p-4" [formGroup]="reward_form">
                            <span class="font-semibold underline">Question:</span>
                            <p> {{random_reward.question}} </p>
                            <p class="font-semibold underline mt-4">Options:</p>
                            <select id="option" formControlName="option" class="p-1 rounded-lg">
                                <option selected disabled>Choose an option</option>
                                <option *ngIf="random_reward.a" value="{{random_reward.a}}">{{random_reward.a}}</option>
                                <option *ngIf="random_reward.b" value="{{random_reward.b}}">{{random_reward.b}}</option>
                                <option *ngIf="random_reward.c" value="{{random_reward.c}}">{{random_reward.c}}</option>
                                <option *ngIf="random_reward.d" value="{{random_reward.d}}">{{random_reward.d}}</option>
                            </select>
                        </form>
                    </div>
                    <div *ngIf="random_reward.options === 'Jail'">
                        <p class="mt-4 capitalize font-semibold text-red-700 px-4 py-3 text-center">You will be sent to Jail now.</p>
                    </div>
                </div>
                <!-- CLOSE AND PURCHASE BUTTON -->
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" (click)="toggle_non_asset()" (click)="ngOnInit()">Close</button>
                    <button *ngIf="current_box.name === 'Jail'" type="button" class="inline-flex w-full justify-center rounded-md bg-yellow-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-yellow-500 sm:ml-3 sm:w-auto" (click)="pass_jail_timer()" (click)="toggle_non_asset()" (click)="ngOnInit()">Skip Jail Timer</button>
                    <button *ngIf="random_reward.options === 'reward_question' && current_box.name === 'Black Hole'" type="button" class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto" (click)="submit_reward_mcq()" (click)="toggle_non_asset()" (click)="ngOnInit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FOR SOLVING QUESTIONS FOR PROPERTY PURCHASE -->
<div id="code_question" class="relative z-40 hidden">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8">

                <!-- HEADER SECTION WHICH CONTAINS TEAM ID AND DISPLAY PICTURE -->
                <div class="flex flex-col items-center justify-center bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <h2 class="font-semibold text-start mb-2 uppercase">Question</h2>
                    <!-- following is the image of the question -->
                    <img class="w-[960px] h-[540px]" [src]="current_question.question"> 
                    
                </div>

                <!-- MIDDLE PART i.e. DESCRIPTION ABOUT THE TEAM -->
                <div *ngIf="'rent_amount' in current_box" class="flex flex-col px-4 py-3">
                    <div class="flex justify-between">

                        <!-- DROPDOWN TO SELECT LANGUAGE -->
                        <form [formGroup]="select_lang_form">
                            <select class="p-2 rounded-lg cursor-pointer " (click)="change_lang()" formControlName="lang">
                                <option selected disabled>Choose Language</option>
                                <option value="python">Python</option>
                                <option value="javascript">JavaScript</option>
                                <option value="cpp">C++</option>
                                <option value="java">Java</option>
                            </select>
                        </form>
                        <h2 class="font-semibold text-center mb-2 underline uppercase"></h2>
                        <div class="flex justify-center items-center m-2">
                            <button type="button" class="inline-flex w-full justify-center rounded-md bg-purple-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 sm:ml-3 sm:w-auto" (click)="submit_code()">Submit</button>
                        </div>
                    </div>

                    <!-- CODE EDITOR -->
                    <div  class="flex w-full" *ngIf="monaco_editor">
                    <!-- <div  class="flex w-full"> -->
                        <ngs-code-editor id="code-editor" class="w-full h-[500px]"
                        [theme]="theme"
                        [codeModel]="codeModel"
                        [options]="options"
                        (loaded)="true" (valueChanged)="true">
                        </ngs-code-editor>
                    </div>
                    <div class="flex flex-col w-full mt-4">
                        <h2 class="font-semibold text-center mb-2 underline uppercase">Output</h2>
                        <!-- <textarea name="" id="" cols="30" rows="10" disabled class="bg-gray-500 text-white p-2">{{code_output}}</textarea> -->
                        <div class="flex justify-around">
                            <div class="flex flex-col">
                                <h2 class="font-semibold text-center mb-2 underline uppercase">Test Case 1</h2>
                                <div *ngIf="code_output.out1 === 'NONE' else out1"></div>
                                <ng-template #out1>
                                    <img *ngIf="code_output.out1" class="w-[100px]" src="/assets/true.png">
                                    <img *ngIf="!code_output.out1" class="w-[80px]" src="/assets/false.png">
                                </ng-template>
                            </div>
                            <div class="flex flex-col">
                                <h2 class="font-semibold text-center mb-2 underline uppercase">Test Case 2</h2>
                                <div *ngIf="code_output.out2 === 'NONE' else out2"></div>
                                <ng-template #out2>
                                    <img *ngIf="code_output.out2" class="w-[100px]" src="/assets/true.png">
                                    <img *ngIf="!code_output.out2" class="w-[80px]" src="/assets/false.png">
                                </ng-template>
                            </div>
                            <div class="flex flex-col">
                                <h2 class="font-semibold text-center mb-2 underline uppercase">Test Case 3</h2>
                                <div *ngIf="code_output.out3 === 'NONE' else out3"></div>
                                <ng-template #out3>
                                    <img *ngIf="code_output.out3" class="w-[100px]" src="/assets/true.png">
                                    <img *ngIf="!code_output.out3" class="w-[80px]" src="/assets/false.png">
                                </ng-template>
                            </div>
                            <div class="flex flex-col">
                                <h2 class="font-semibold text-center mb-2 underline uppercase">Final Result</h2>
                                <img *ngIf="correct_answer" class="w-[100px]" src="/assets/true.png">
                                <img *ngIf="!correct_answer" class="w-[80px]" src="/assets/false.png">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CLOSE AND PURCHASE BUTTON -->
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" (click)="toggle_code_quest()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
